<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<h1>Year: {{.AcaYear}}</h1>
<h2>Fall</h2>
<ul>
    {{range .Fall.Courses}}
    <li>{{.}}</li>
    {{end}}
</ul> 

<h2>Spring</h2>
<ul>
    {{range .Spring.Courses}}
    <li>{{.Number}} - {{.Name}} ({{.Units}} Units)</li>
    {{end}}
</ul> 

{{end}}

</body>
</html>
